@using TP4.Core;
@model IEnumerable<Requerimiento>
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Detalle tecnologia</title>
</head>

<body>
    <h1>Tecnologia</h1>
    <h2>@Model.First()._Proyecto.Descripcion</h2>
    <h1>Lista de requerimientos de la tecnologia</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    CostoBase
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Requerimiento requerimiento in Model)
            {
                <tr>

                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-id="@requerimiento.IdRequerimiento">@requerimiento.Complejidad</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-idRequerimiento="@requerimiento.IdRequerimiento">@requerimiento.Descripcion</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    </div>
</body>


</html>
