@using TP4.Core;
@model IEnumerable<Requerimiento>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Detalle tecnologia</title>
</head>

<body>
    <h1>Tecnologia</h1>
    <h2>@Model.First()._Proyecto.Descripcion</h2>
    <h1>Lista de requerimientos de la tecnologia</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    CostoBase
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Requerimiento requerimiento in Model)
            {
                <tr>

                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-id="@requerimiento.IdRequerimiento">@requerimiento.Complejidad</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-idRequerimiento="@requerimiento.IdRequerimiento">@requerimiento.Descripcion</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</body>


</html>
