@using TP4.Core;
@model IEnumerable<Proyecto>;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    @* Muestra el nombre del primer *@
    <h1>Cliente</h1>
    <h2>@Model.First().Cliente.RazonSocial</h2>

    <h3>Lista de Proyectos</h3>
    <table>
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Presupuesto
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Proyecto proyecto in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Cliente" asp-action="Detalle"
                        asp-route-id="@proyecto.Descripcion">@proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Cliente" asp-action="Detalle"
                        asp-route-id="@proyecto.Presupuesto">@proyecto.Presupuesto</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>