@using TP4.Core;
@model IEnumerable<Cliente>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Clientes</title>
</head>

<body>
    <h1>Lista Cliente</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cuit
                </th>
                <th>
                    Razon Social
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                @* El "asp-route-'aca va el atributo que es el identificador unico del objeto, en este caso es "Cuit"
                del Cliente '" *@
                @* El "asp-controller" hace referencia al controlador que se esta usando *@
                @* El "asp-action" hace referencia al metodo que se ejecutara en este caso es el "Index()" *@
                <tr>
                    <td>
                        <a asp-controller="Cliente" asp-action="Index" asp-route-Cuit="@cliente.Cuit">@cliente.Cuit</a>
                    </td>
                    <td>
                        <a asp-controller="Cliente" asp-action="Index" asp-route-Cuit="@cliente.Cuit">@cliente.RazonSocial</a>
                    </td>
                    <td>
                        <a asp-action="Detalle" asp-route-Cuit="@cliente.Cuit"><button>Detalle</button></a>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
    </div>
    <a asp-controller="Cliente" asp-action="AltaCliente"><button>Agregar Cliente</button></a>

</body>


</html>