@model TP4.Core.Requerimiento
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Requerimiento</title>
</head>

<body>
    <h1>Lista Requerimiento</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Complejidad
                </th>
                <th>
                    Descripcion de Proyecto
                </th>
                <th>
                    tecnologia
                </th>
            </tr>
        </thead>
        <tbody> <tr>
                    <td>
                        <a >@Model.Descripcion</a>
                    </td>
                    <td>
                        <a>@Model.Complejidad</a>
                    </td>
                    <td>
                        <a>@Model._Proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a >@Model.Tecnologia.Nombre</a>
                    </td>

                </tr>
            @* @foreach (Requerimiento requerimiento in Model)
            {
                <tr>
                
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-id="@requerimiento.IdRequerimiento">@requerimiento.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-id="@requerimiento.IdRequerimiento">@requerimiento.Complejidad</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-id="@requerimiento._Proyecto.Descripcion">@requerimiento._Proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"
                        asp-route-id="@requerimiento.Tecnologia.Nombre">@requerimiento.Tecnologia.Nombre</a>
                    </td>
                    <td>
                        <a asp-controller="  " asp-actiona=" "><button>Detalle</button></a>
                    </td>
                </tr>

            } *@
        </tbody>
    </table>

</body>


</html>