@using TP4.Core;
@model IEnumerable<Requerimiento>
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Requerimiento</title>
</head>

<body>
    <h1>Lista Requerimiento</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Complejidad
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Requerimiento requerimiento in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"asp-route-id="@requerimiento.IdRequerimiento">@requerimiento.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Index"asp-route-id="@requerimiento.IdRequerimiento">@requerimiento.Complejidad</a>
                    </td>
                    <td>
                        <a asp-controller="Requerimiento" asp-action="Detalle"asp-route-IdRequerimiento="@requerimiento.IdRequerimiento"><button>Detalle</button></a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    </div>
    <a asp-controller="Requerimiento" asp-action="AltaRequerimiento"><button>Agregar Requerimiento</button></a>

</body>


</html>