@model TP4.Core.Proyecto
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proyectos</title>
</head>

<body>
    <h1>Lista Proyecto</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Presupuesto
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>
                        <a >@Model.Descripcion</a>
                    </td>
                    <td>
                        <a><@Model.Presupuesto</a>
                    </td>
                    <td>
                        <a>@Model.Inicio</a>
                    </td>
                    <td>
                        <a >@Model.Fin</a>
                    </td>
                    <td>
                        <a >@Model.Cliente.Cuit</a>
                    </td>
                </tr>
            @* @foreach (Proyecto proyecto in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@proyecto.Descripcion">@proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@proyecto.Presupuesto">@proyecto.Presupuesto</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@proyecto.Inicio">@proyecto.Inicio</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@proyecto.Fin">@proyecto.Fin</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@proyecto.Cliente.Cuit">@proyecto.Cliente.Cuit</a>
                    </td>
                </tr>

            } *@
        </tbody>
    </table>

</body>


</html>