@using TP4.Core;
@model IEnumerable<Requerimiento>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proyectos</title>
</head>

<body>
    <h1>Cliente</h1>
    <h2>@Model.First()._Proyecto.Descripcion</h2>
    <h1>Lista Requerimientos</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Presupuesto
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
            </tr>
        </thead>
        <tbody>
            @* <tr>
                    <td>
                        <a >@Model.Descripcion</a>
                    </td>
                    <td>
                        <a>@Model.Presupuesto</a>
                    </td>
                    <td>
                        <a>@Model.Inicio</a>
                    </td>
                    <td>
                        <a >@Model.Fin</a>
                    </td>
                    <td>
                        <a >@Model.Cliente.Cuit</a>
                    </td>
                </tr> *@
            @foreach (Requerimiento requerimiento in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@requerimiento.Descripcion">@requerimiento.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@requerimiento.Complejidad">@requerimiento.Complejidad</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index" asp-route-id="@requerimiento.Tecnologia">@requerimiento.Tecnologia.Nombre</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</body>


</html>