@using TP4.Core;
@model IEnumerable<Proyecto>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proyectos</title>
</head>

<body>
    <h1>Lista Proyecto</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Presupuesto
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Proyecto proyecto in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index"asp-route-id="@proyecto.Descripcion">@proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index"asp-route-id="@proyecto.Presupuesto">@proyecto.Presupuesto</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Detalle"asp-route-id="@proyecto.IdProyecto"><button>Detalle</button></a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
    <a asp-controller="Proyecto" asp-action="AltaProyecto"><button>Agregar Proyecto</button></a>

</body>


</html>