@using TP4.Core;
@model IEnumerable<Proyecto>
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Proyectos</title>
</head>

<body>
    <h1>Lista Proyecto</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Presupuesto
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Proyecto proyecto in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index"asp-route-id="@proyecto.Descripcion">@proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index"asp-route-id="@proyecto.Presupuesto">@proyecto.Presupuesto</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Detalle"asp-route-IdProyecto="@proyecto.IdProyecto"><button>Detalle</button></a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
    </div>
    <a asp-controller="Proyecto" asp-action="AltaProyecto"><button>Agregar Proyecto</button></a>

</body>


</html>